.Grid-item {
    padding: 10px;
    position: relative;
}

.Grid-item .Grid-item-links {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 20px;
    text-align: center;

}

.Grid-item .Grid-item-links a {
    color: #2997ff;
    margin-left: 35px;
    font-size: 15px;
}

.Grid-item .Grid-item-links a:hover {
    text-decoration: underline;
}

.Grid-item .Grid-item-ipadpro-links {
    top: 190px;
}

.Grid-item .Grid-item-ipad-links {
    top: 180px;
}

.Grid-item .Grid-item-watchultra-links {
    top: 170px;
}

.Grid-item .Grid-item-watch8-links {
    top: 170px;
}

.Grid-item .Grid-item-airpodspro-links {
    top: 145px;
}

.Grid-item .Grid-item-applecard-links {
    top: 170px;
}

.Grid-item .Grid-item-image {
    width: 100%;
    max-width: 650px;
    height: 100%;
}

@media only screen and (max-width: 620px) {
    
.Grid-item .Grid-item-ipadpro-links {
    top: 130px;
}

.Grid-item .Grid-item-ipad-links {
    top: 130px;
}

.Grid-item .Grid-item-watchultra-links {
    top: 130px;
}

.Grid-item .Grid-item-watch8-links {
    top: 130px;
}

.Grid-item .Grid-item-airpodspro-links {
    top: 115px;
}

.Grid-item .Grid-item-applecard-links {
    top: 130px;
}

}


@media only screen and (max-width: 420px) {
    
    .Grid-item .Grid-item-ipadpro-links {
        top: 110px;
    }
    
    .Grid-item .Grid-item-ipad-links {
        top: 110px;
    }
    
    .Grid-item .Grid-item-watchultra-links {
        top: 110px;
    }
    
    .Grid-item .Grid-item-watch8-links {
        top: 110px;
    }
    
    .Grid-item .Grid-item-airpodspro-links {
        top: 100px;
    }
    
    .Grid-item .Grid-item-applecard-links {
        top: 110px;
    }
    
    }